<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%-include("partials/head", {title: `Error ${status}: ${message}`})-%>
  </head>
  <body>
    <div class="container">
      <%-include("partials/header")-%>
      <main class="center-content">
        <div class="error-content">
          <h3>Error <%-status-%>:</h3>
          <h2><%-message-%></h2>
        </div>
      </main>
      <%-include("partials/footer")-%>
    </div>
  </body>
</html>
